[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
click = "*"
awscli = "*"
python-dotenv = "*"
datetime = "*"
tqdm = "*"
urllib3 = "*"
prometheus-api-client = "*"
"path.py" = "*"
cmake = "*"
"htm.core" = {editable = true, ref = "master", git = "https://github.com/htm-community/htm.core.git"}

[requires]
python_version = "3.8"
